/* Resetando as margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', fantasy;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    min-height: 100vh;  /* Garantir que o body tenha no mínimo 100% da altura da tela */
    display: flex;
    flex-direction: column;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
}

/* Menu de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #444;
}

/* Seções do conteúdo */
section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex: 1; /* Faz o conteúdo "crescer" para ocupar o restante da tela */
}

h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

/* Formulário de Contato */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-size: 1.1em;
    color: #333;
}

form input, form textarea {
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 6px;
}

form input:focus, form textarea:focus {
    border-color: #ffffff;
    outline: none;
}

form button {
    background-color: #333;
    color: white;
    padding: 12px;
    font-size: 1.1em;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #444;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto; /* Faz o footer "empurrar" para baixo */
    width: 100%;
}
footer p {
    font-size: 1em;
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        margin: 10px;
        padding: 15px;
    }

    form input, form textarea, form button {
        font-size: 1em;
        padding: 10px;
    }

    footer {
        font-size: 0.9em;
    }
}



.img{
  width: 1000px;
  right: auto;
}

